<div class=" mt-5 ms-5 me-5 shadow-sm d-flex flex-wrap  justify-content-center  rounded-pill" id="contenido" 
data-aos="fade-up"
data-aos-duration="1000">
    
    <img src="../../../assets/images/sidebar/dentales.png" alt="" class="img1 me-5">

    <div class="textoContenido border rounded-pill text-center" id="textoContenido">
        <h1>Prevención, diagnóstico y tratamiento de procedimientos odontológicos</h1>
        <p>Resultados increíbles gracias a nuestros especialistas en las ramas de Ortodoncia, Periodoncia, Rehabilitación Oral, Prótesis Dental, Endodoncia.</p>
    </div>
   
    
</div>


<div class="secondCont d-flex flex-wrap"
data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
    <img class="imgDent" src="../../../assets/images/sidebar/od1.png" alt=""> 
    <h1 class="colortxt ">SERVICIOS</h1>
    <i class="fa-solid fa-chevron-right icon"></i>
    <div  class="info">
        <h4 class="fw-bold">OD. ESP. ANDRÉS ZUMBA CARDOSO</h4>
        <p>ODONTÓLOGO ESPECIALISTA</p>
    </div>
</div>


<div class="dateImg d-flex flex-wrap mb-5"
data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">
    <img src="../../../assets/images/sidebar/od-principal.png" class="rounded-circle imgDent2 me-5" alt="">
    <div class="img2">
        <div class="v1 d-flex flex-wrap">
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i1.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap  ">Rehabilitación
                    Oral</p>
            </div>
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i2.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">Endodoncia</p>
            </div>
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i3.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">Periodoncia
                    Implantología</p>
            </div>
        </div>

        <div class="v2 d-flex flex-wrap ">
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i4.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">
                    Cirugía Oral</p>
            </div>
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i5.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">Ortodoncia</p>
            </div>
        </div>
          
        <div class="v3 d-flex flex-wrap">
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i6.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">
                    Bichectomía</p>
            </div>
            <div class="vc1 d-flex flex-wrap me-4">
                <img src="../../../assets/images/sidebar/i7.png" class="rounded-circle icon2" alt="">
                <p class="  d-flex flex-wrap ms-2 fw-bold align-items-center text-wrap ">Diseño de
                    Sonrisa Digital</p>
            </div>
        </div>
    </div>
</div>

<div class="linea" data-aos="fade-up"
data-aos-anchor-placement="center-bottom">
    
</div>