<div class="linea"
    data-aos="fade-up"
     data-aos-duration="3000"></div>
<h1 class="text-center mb-4 titulo"
data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">EQUIPO - LABORATORIO</h1>

<div class="first d-flex flex-wrap justify-content-evenly "
    data-aos="fade-up"
    data-aos-duration="3000">
    <div class="photo ">
        <img src="../../../assets/images/sidebar/person1.png" alt="" class="rounded-circle ss">
        <p class="text-center txt1">Persona 1</p>
        <p class="text-center txt2">Profesión 1</p>
    </div>
    <div class="photo ">
        <img src="../../../assets/images/sidebar/person2.png" alt="" class="rounded-circle ss">
        <p class="text-center txt1">Persona 1</p>
        <p class="text-center txt2">Profesión 1</p>
    </div>
    <div class="photo ">
        <img src="../../../assets/images/sidebar/person1.png" alt="" class="rounded-circle ss">
        <p class="text-center txt1">Persona 1</p>
        <p class="text-center txt2">Profesión 1</p>
    </div>
    <div class="photo ">
        <img src="../../../assets/images/sidebar/person2.png" alt="" class="rounded-circle  ss">
        <p class="text-center txt1">Persona 1</p>
        <p class="text-center txt2">Profesión 1</p>
    </div>
</div>