<div class=" mt-5 ms-5 me-5 shadow-sm d-flex flex-wrap px-md-5 justify-content-center  rounded-pill card-gradient"
data-aos="fade-up"
     data-aos-duration="3000">
    <div class="row w-100 py-3">
        <div class="col-sm-12 col-md-4  d-flex justify-content-center px-md-5 ">
            <img src="../../../assets/images/sidebar/zumba.png" alt="">
        </div>
        <div class="col-sm-12 col-md-8 ">
            <div class="w-100 bg-custom-color rounded-pill p-5">
                <h4>Diseño y fabricación
                    <br>
                 de material odontológico</h4>
                <p>Exactitud, productividad y eficiencia gracias a la <br>
                    <span><b>TECNOLOGIA CAD-CAM</b></span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="px-3 my-5"
data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="2000">
    <div class="row">
        <div class="col-sm-12 col-lg-8 text-center">
            <h4 class="text-custom-color">Innovación y calidad desde 1967</h4>
            <img src="../../../assets/images/info/tools.png" class="w-100">
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="row">
                <div class="col-12 bg-custom-color-blue px-4 py-4">
                    <h3 class="text-white">Reducimos los tiempos
                    en tus tratamientos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 img-background px-4 py-4" style="min-height: 200px;">
                    <h6 class="text-custom-color"><small>ESCANEADO INTRAORAL <i class="fa-solid fa-chevron-right"></i></small></h6>
                    <div style="font-size: 12px;">PARA TRATAMIENTOS
                        <br>
                        DE FLUJO DIGITAL</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row w-100"
    data-aos="fade-right"
     data-aos-offset="1000"
     data-aos-easing="ease-in-sine">
    <div class="col-2 d-flex justify-content-end">
        <img src="../../../assets/images/info/dent.png" alt="" srcset="" width="50" height="50">
    </div>
    <div class="col-10 text-left d-flex align-items-center" style="height: 50px;">
        <h3 class="text-custom-color">PRODUCTOS Y SERVICIOS</h3>
    </div>
</div>
<div class="w-100 d-flex justify-content-center mt-4" style="font-size: 12px;"
    data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="900"
     data-aos-duration="500">
    <div class="row w-sm-100" style="width: 70%;"
    data-aos="zoom-out-left">
        <div class="col-sm-12  col-lg-6 col-xl-3">
            <div class="row">
                <div class="col-10">
                    <b>TPD. ROLANDO ZUMBA</b>
                    <br>
                    TÉCNICO PROTESISTA DENTAL
                </div>
                <div class="col-2 d-flex align-items-center">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="../../../assets/images/info/machines.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-6 col-xl-3">
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/images/info/dent1.png" alt="" width="45" height="45">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="text-custom-color">
                        Impresiones
                        Digitales
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Escaneado Intraoral
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2">
                    <img src="../../../assets/images/info/dent2.png" alt="" width="45" height="45">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="text-custom-color">
                        Centro de Fesado
                        CAD-CAM
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Corona-Puentes- Carilla - Perno Meryland -
                    Incrustaciones <br>
                    Barras Híbridas <br>
                    Zirconio (Katana - Sirona Denstply - Vita -
                    E.max ZirCAD) <br>
                    Metal Cerámica (VITA VMK Master - ) <br>
                    PMMA <br>
                    Coronas Disilicato - Feldespato - Silicato -
                    Enamic <br>
                    Carillas Disilicato - Feldespato - Silicato -
                    Enamic <br>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-6 col-xl-3">
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/images/info/dent3.png" alt="" width="45" height="45">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="text-custom-color">
                        Impresión 3D
                        Formlab 3B+
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Modelos 3D Geller <br>
                    Modelos 3D Simples <br>
                    Modelos 3D para Prótesis Total o Parcial <br>
                    Corona -Puentes- Carilla - Perno - Meryland <br>
                    Coronas Integras <br>
                    Cromos Cobaltos <br>
                    Provisionales <br>
                    Guías Quirúrgicas <br>
                    Placas Neuomiorelajantes <br>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2">
                    <img src="../../../assets/images/info/dent4.png" alt="" width="45" height="45">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="text-custom-color">
                        Flujo
                        Digital
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Sirona Inlab-Cerec (Connect)
                    Exocad <br>
                    Medit i 700 wireless (MEDIT LINE)
                    Formlab 3b+
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-6 col-xl-3">
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/images/info/dent5.png" alt="" width="45" height="45">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h6 class="text-custom-color">
                        Diseño
                        Digital
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Cromos Cobalto <br>
                    Barras Híbridas <br>
                    Barras Híbridas con encia <br>
                    Implantes (MISS- ALPHA BIO ) <br>
                    Corona - Puentes - Carilla - Perno Meryland
                    - Incrustaciones <br>
                    Diseño de Sonrisa
                </div>
            </div>
        </div>
    </div>
</div>