<div class="d-flex flex-wrap ss " data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
    <img class="rounded-circle map" src="./../../../assets/images/info/ubi.png" alt="">
    <h1 class="text-white fw-bold mt-1 ms-4 display-5">VISÍTANOS</h1>
</div>

<h5 class="textCont mt-2"
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine">Amamos las sonrisas y la salud bucal de los demás</h5>

<div class="cont1 d-flex flex-wrap justify-content-evenly mb-5" data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="300"
    data-aos-offset="0">
    <div class="mb-5" 
    data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine"
    data-aos-duration="2000">
        <img class="img1 mb-1" src="./../../../assets/images/sidebar/dentales.png" alt="">
        <div class="linea"></div>
        <div class="d-flex flex-wrap justify-content-center">
            <i class="icon fa-sharp fa-solid fa-location-dot me-1 mt-1"></i>
            <div class="me-4">
                <p class="p1 fw-bold">Octavio Díaz 9-29
                </p>
                
                <p class="p2 fw-bold"> y La República
                </p>
            </div>
            <p class="me-4 fw-bold"><i class="icon fa-brands fa-whatsapp me-1 "></i>0999972899</p>
            <p class="fw-bold"><i class="icon fa-solid fa-phone me-1 "></i>4084529</p>
        </div>
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1992.362626565846!2d-79.00794001667585!3d-2.895322753494738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1674968960704!5m2!1ses!2sec" ></iframe>
    </div>
    <div class="mb-5" 
    data-aos="fade-left"
    data-aos-offset="500"
    data-aos-duration="2000">
        <div class="d-flex flex-wrap justify-content-center img2">
            <img class="me-4 " src="./../../../assets/images/sidebar/3.png" alt="">
            <img src="./../../../assets/images/sidebar/zumba.png" alt="">
        </div>
        
        <div class="linea2"></div>
        <div class="d-flex flex-wrap justify-content-center" >
            <i class="icon2 fa-sharp fa-solid fa-location-dot me-1 mt-1"></i>
            <div class="me-4">
                <p class="p1 fw-bold">Francisco Calderón 2-85</p>
                <p class="p2 fw-bold">y Manuel Ormaza</p>
            </div>
            <p class="me-4 fw-bold"><i class="icon2 fa-brands fa-whatsapp me-1 "></i>0984884722</p>
            <p class="fw-bold"><i class="icon2 fa-solid fa-phone me-1 "></i>4205599</p>
            
        </div>

        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3984.7262706916094!2d-79.01035936902711!3d-2.895033444669166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sec!4v1674968897713!5m2!1ses!2sec "></iframe>
    </div>
</div>