<div class="d-flex flex-wrap  justify-content-between contSlider ">
    <div class="columna1 me-5 contText text-wrap badge textContent" >
        <h1 class="text-start text-white display-6 fw-bold textTitle">Creando inolvidables sonrizas desde 1967</h1>
        <p class="text-start text-white mt-4 fw-normal parrafo">Nuesto compromiso esta ligado a la innovación y calidad de nuestro trabajo</p>
        <p class="text-start text-white mt-4 fw-normal parrafo">Nuesto compromiso esta ligado a la innovación y calidad de nuestro trabajo</p>
    </div>

    <div class="columna2 border contColumnas d-flex flex-wrap  justify-content-around align-items-center bg-white rounded-5 ">
        <div class="contenido1  me-3 pe-3 ps-3">
            <img src="../../../assets/images/sidebar/dentales.png" alt="" class="imgCont  ms-3">
            <button type="button" class="d-flex block btn btn-outline-success ss mt-1 rounded-5 border-3">Clinica</button>
        </div>

        <div class="contenido2 pe-3 ps-3">
            <img src="../../../assets/images/sidebar/zumba.png" alt="" class="imgCont ms-3">
            <button type="button" class=" d-flex block btn  ss mt-1 rounded-5 border-3 pe-3 ps-3" id="ss1">Laboratorio</button>
        </div>
    </div>
</div>