<div class=" mt-5 ms-5 me-5 shadow-sm rounded-5 d-flex flex-wrap contenido justify-content-center"   data-aos="flip-left">
    <div class="principal ">
        <div class="cont1 rounded-5 mb-2">
            <h1 class="text-center title">CURSO</h1>
        </div>
        <h1 class="textPrincipal">PRÓTESIS TOTAL</h1>
        <h1 class="textPrincipal">REMOVIBLE</h1>
        <div class="fila d-flex justify-content-between flex-wrap">
            <div class="fila2 ">
                <p >(Del diagnóstico a la instalación)</p>
                <p class="fw-bold"><i class="fa-brands fa-whatsapp contact me-1"></i> 0999972899 <i class="fa-sharp fa-solid fa-phone contact ms-4 me-1"></i> 4084529 </p>
            </div>
            <img class="img1" src="../../../assets/images/sidebar/dentales.png" alt="dentales">
 
        </div>

    </div>

    <div class="cont2 ">
        <img  class="rounded-circle ss" src="../../../assets/images/sidebar/dent1.png" alt="dent">
    </div>

    <div class="cont3">
        <h3 class="text-center"> <li> 4 - 5 FEB 2023</li></h3>
        <div class="linea rounded-4"></div>
        <p class="cont3Texto">OD. ESP. ANDRÉS ZUMBA CARDOSO</p>
        <p>(R2 en rehabilitación oral y prótesis)</p>
        <ul class="d-flex justify-content-between flex-wrap listaUl">
            <div class="lista1">
                <li class="li">Diagnóstico</li>
                <li class="li" >Plan de tratamiento</li>
                <li class="li">impresiones ideales</li> 
            </div>
          
            <div class="lista2">
                <li class="li">Registro de Dimensión Vertical Oclusal (DVO)</li>
                <li class="li">Instalación de prótesis totales removibles</li>
            </div>
            
        </ul>

    </div>

    <div class="cont4 ms-3">
        <img class="rounded-circle ss" src="../../../assets/images/sidebar/doc.png" alt="dent">
    </div>

</div>

<div class=" mt-5 ms-5 me-5 shadow-sm  justify-content-center  rounded-5 contentFinal"  data-aos="flip-right">
    <h4 class="info text-center">INFORMACIÓN DE CONTENIDO LABORATORIO</h4>
</div>

<div class="linea2 rounded-5 " data-aos="zoom-in-down"></div>